[Desktop Entry]
Name=Spacemacs
Encoding=UTF-8
GenericName=Text Editor
Comment=Edit text
MimeType=text/english;text/plain;text/x-makefile;text/x-java;text/x-tex;application/x-shellscript;
Icon=~/persist/pictures/desktop-icons/emacs-1.png
Terminal=false
Type=Application
Categories=Development;TextEditor;
StartupNotify=true
StartupWMClass=Emacs
# Exec=/usr/bin/emacs -mm %F
Exec=/opt/emacs-25.1/bin/emacs-25.1 --debug-init -mm %F
X-Ayatana-Desktop-Shortcuts=EmacsGUI;EmacsGUIDebug

[EmacsGUI Shortcut Group]
Name=Emacs GUI
Name[en_GB]=Emacs GUI
Name[zh_CN]=Emacs GUI
Name[zh_TW]=Emacs GUI
# Exec=/usr/bin/emacs -mm %F
Exec=/opt/emacs-25.1/bin/emacs-25.1 -mm %F
TargetEnvironment=Unity

[EmacsGUIDebug Shortcut Group]
Name=Emacs GUI [debug]
Name[en_GB]=Emacs GUI [Debug]
Name[zh_CN]=Emacs GUI [Debug]
Name[zh_TW]=Emacs GUI [Debug]
# Exec=/usr/bin/emacs --debug-init -mm %F
Exec=/opt/emacs-25.1/bin/emacs-25.1 --debug-init -mm %F
TargetEnvironment=Unity
