[Desktop Entry]
Name=GNU Emacs 25.3
GenericName=Text Editor
Comment=神之编辑器, Edit text
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec="/opt/stow/emacs-25.3/bin/emacs-25.3" %f
Icon=/opt/stow/emacs-25.3/share/icons/hicolor/48x48/apps/emacs.png
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupWMClass=Emacs
Keywords=Text;Editor;
