[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
#Icon=/opt/develop/java/idea-IU-145.597.3/bin/idea.png
Icon=/home/apple/.local/share/icons/idea.png
Exec="/opt/develop/java/idea-IU-145.597.3/bin/idea.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
