[user]
	name = appleshan
	email = apple.shan@gmail.com
[color]
	ui = auto
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[credential]
	helper = store
[github]
	user = appleshan
