* {
    font: "JetBrainsMono NF Bold 9";
    background: #0E1113F7;
    bg-alt: #111517;
    background-alt: #0E1113F5;
    foreground: #afb1db;
    selected: #5884d4;
    active: #61b33e;
    urgent: #e71c5b;

    img-background: url("~/.config/bspwm/rices/karla/rofi.webp", width);
}
