#!/bin/sh

#archwiki:enable Chinese locale
export LANG=zh_CN.UTF-8
export LANGUAGE=zh_CN:en_US
export LC_CTYPE=zh_CN.UTF-8
export UNZIP="-O CP936"
export ZIPINFO="-O CP936"

export INPUT_METHOD=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export SDL_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

###########################################################
####               Autostart applications              ####
###########################################################

# => To autostart picom to achieve traspanrency
picom -b --config $HOME/.config/picom/picom.conf

# => 屏幕管理
# @See https://bbs.archlinuxcn.org/viewtopic.php?pid=30400#p30400
# polybar上某些要显示托盘图标（tray icon），须执行 xrandr --output:
xrandr --auto --output HDMI-1 --primary --mode 1920x1080 --rate 60.00

#{{ wallpaper
# .fehbg 与 wallpaper.sh 二选一。

# => feh 设置桌面壁纸
# $HOME/.fehbg

# => To autostart wallpaper manager
$HOME/.config/nitrogen/nitrogen.sh &
#}}

# => To autostart input method
#fcitx version: 4
# fcitx -d -r &
#fcitx version: 5
fcitx5 -d -r &

# => To autostart network manager tray
# nm-applet 是 NetworkManager 的托盘程序，用 NetworkManager 的原因就是其它网络管理程序没有什么好的 GUI。
nm-applet &

# => To autostart bluetooth Manager tray
# blueman-applet 配合 blueman-manager 可以很方便地管理蓝牙。
blueman-applet &

# => To autostart volume manager tray
#volumeicon &
pasystray &

# => To autostart clipboard Manager
clipit &

# => To autostart sxhkd
sxhkd &

#{{ redshift
# enable the geoclue agent on startup.
/usr/lib/geoclue-2.0/demos/agent &

# => To autostart redshift
$HOME/.config/redshift/redshift.sh &> /dev/null 2>&1
#}}

# => To autostart power manager
# xfce4-power-manager 是 XFCE 管理电源和屏幕亮度的托盘程序，可以脱离 XFCE 独立安装运行。
xfce4-power-manager &

# => To autostart workrave tray
workrave &

# 在鼠标指针不活动时隐藏鼠标指针.
unclutter -idle 5 &
