#!/bin/sh
export LANG=en_US.UTF-8
export LANGUAGE=zh_CN:en_US
export LC_CTYPE=zh_CN.UTF-8
export UNZIP="-O CP936"
export ZIPINFO="-O CP936"

# => 开机自启（根据需要取消相应的注释#）

# Start compton for Rofi and window border transparency
compton --backend glx --vsync -GCb --config $HOME/.config/compton.conf

# => 屏幕管理
# @See https://bbs.archlinuxcn.org/viewtopic.php?pid=30400#p30400
# polybar上某些要显示托盘图标（tray icon），须执行 xrandr --output:
xrandr --auto --output DP1 --primary --mode 1920x1080 --rate 75.00

# 壁纸须先安装feh，并在此指定路径
$HOME/.fehbg &

# => Start Fcitx
#fcitx version: 4
# fcitx -d -r &
#fcitx version: 5
fcitx5 &

# => Start Network Manager
# nm-applet 是 NetworkManager 的托盘程序，用 NetworkManager 的原因就是其它网络管理程序没有什么好的 GUI。
nm-applet &

# => Start Bluetooth Manager
# blueman-applet 配合 blueman-manager 可以很方便地管理蓝牙。
#blueman-applet &

# => Start Volume control
#volumeicon &

# => Start Clipboard Manager
clipit &

# => Start Xbindkeys
xbindkeys &

# enable the geoclue agent on startup.
#/usr/lib/geoclue-2.0/demos/agent &

# xfce4-power-manager 是 XFCE 管理电源和屏幕亮度的托盘程序，可以脱离 XFCE 独立安装运行。
xfce4-power-manager &

fix_xcursor &

workrave &
